<!--<?xml version="1.0" encoding="UTF-8" ?>-->
<!--<!DOCTYPE mapper-->
<!--        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"-->
<!--        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">-->

<!--<mapper namespace="OVChipkaart.OVChipkaartMapper">-->

<!--    <insert id="save" parameterType="OVChipkaart.OVChipkaart">-->
<!--        INSERT INTO ov_chipkaart (kaart_nummer, klasse, saldo, is_gelocked, reiziger_id)-->
<!--        VALUES (#{id}, #{klasse}, #{saldo}, #{isGelockt}, #{reiziger.id});-->
<!--    </insert>-->

<!--    <update id="update" parameterType="OVChipkaart.OVChipkaart">-->
<!--        UPDATE ov_chipkaart-->
<!--        SET klasse = #{klasse},-->
<!--            saldo = #{saldo},-->
<!--            is_gelocked = #{isGelockt},-->
<!--            reiziger_id = #{reiziger.id}-->
<!--        WHERE kaart_nummer = #{id};-->
<!--    </update>-->

<!--    <delete id="delete" parameterType="OVChipkaart.OVChipkaart">-->
<!--        DELETE FROM ov_chipkaart WHERE kaart_nummer = #{id};-->
<!--    </delete>-->

<!--    <select id="findById" parameterType="int" resultType="OVChipkaart.OVChipkaart">-->
<!--        SELECT kaart_nummer as id, klasse, saldo, is_gelocked, reiziger_id-->
<!--        FROM ov_chipkaart-->
<!--        WHERE kaart_nummer = #{id};-->
<!--    </select>-->

<!--    <select id="findByReiziger" parameterType="Reiziger.Reiziger" resultType="OVChipkaart.OVChipkaart">-->
<!--        SELECT kaart_nummer as id, klasse, saldo, is_gelocked, reiziger_id-->
<!--        FROM ov_chipkaart-->
<!--        WHERE reiziger_id = #{id};-->
<!--    </select>-->

<!--    <select id="findAll" resultType="OVChipkaart.OVChipkaart">-->
<!--        SELECT kaart_nummer as id, klasse, saldo, is_gelocked, reiziger_id-->
<!--        FROM ov_chipkaart;-->
<!--    </select>-->

<!--</mapper>-->
